<h1>Using @viewChild Component Example </h1>
<button type="button" (click)="increase()">Increase</button>
<button type="button" (click)="decrease()">Dencrease</button>

<div *ngIf="newsData"></div>

    <h1>Rest API Call</h1>
    <div *ngFor="let news of newsData">

        <h2>author</h2>
        {{news.author}}

        <h2>title</h2>
        {{news.title}}

        <h2>descriotion</h2>
        <img [src]="news.urlToImage" height="240" width="260"/>

        {{news.description}}

    </div>


<app-counter></app-counter>

