<!-- <h2>student Portel works!</h2> -->
<!-- <a [routerLink]="['./emplogin']">Emp Login</a><br>
<a [routerLink]="['./studentregistration']">Student registration </a><br>
<button (click)="sendData()">send Data</button> -->

<!-- <input (keyup)="onKey($event)">
<p>{{values}}</p> -->

<!-- <input #box (keyup)="0">
<p>{{box.value}}</p> -->


<!-- 
<!--Child to parent data -->
<!-- <h1>Child Component</h1>

<label>Child Component</label>

<!--Pass value from child to parent component.-->
<!-- <input type="text" #ccomponent (keyup)="onChange(ccomsssponent.value)" />

<p>Value of parent component is:{{PData}} </p> --> 



<!-- <h1>Child ComponentExample 3</h1>
<p>value of parent component is :{{ PData  }}</p> -->
<div>
<p>value of parent :{{PData}}</p>
<ng-content></ng-content>

</div>

